.slider-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.slider-item {
  position: relative;
}

.slider-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
   background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}

.slider-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  padding: 30px;
  color: white;
}

.slider-overlay h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.arrow{
  font-size: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-top: 150px;
  top: 0;
}