.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#0A1931;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  padding: 6px 0;
}

.mobile-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bottom-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease;
}

.bottom-nav-link svg {
  margin-bottom: 3px;
}

.bottom-nav-link.active {
  color: #fff;
}

.bottom-nav-link:hover {
  color: #fff;
}

/* Hide on larger screens */
@media screen and (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}
